h3, h4 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
body {
    background-color: #B5E2FA;
}
h4{
    color: white;
    background-color: rgba(0,0,0,0.5) ;
    width: 700px;
    margin-left: 590px;
}
.atc {
    font-size: 21px;
}
.per {
    font-size: 17px;
}
.rel {
    font-size: 17px;
}
.pot {
    font-size: 19px;
}
.cri {
    font-size: 19px;
}